*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 50px;
}

.contentMaterial{
    
    border-radius: 11px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    width: 20%;
}

.heading{
    background-color: aqua;
    text-align: center;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.shortText{
background-color: #252627;
color: bisque;
border-bottom-left-radius: 11px;
border-bottom-right-radius: 11px;

}

.shortText a {
    text-decoration: none;
    color: wheat;
    margin-left: 40px;
}